<%- include("../partials/header") %>

	<h1 class="form-h1">Edit Word</h1>
	<div class="row">
		<div style="width: 50%; margin: 25px auto;">
			<form action="/words/<%= word._id %>?_method=PUT" method="POST">
				<div class="form-row">
					<div class="form-group col-md-6">
					  <label for="portuguese">Portuguese:</label>
					  <input id="portuguese" class="form-control" type="text" name="word[portuguese]" value="<%= word.portuguese %>" required>
					</div>
					<div class="form-group col-md-6">
					  <label for="brazilian">Brazilian:</label>
					  <input id="brazilian" class="form-control" type="text" name="word[brazilian]" value="<%= word.brazilian %>" required>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
					  <label for="abbreviation">Abbreviation:</label>
					  <input id="abbreviation" class="form-control" type="text" name="word[abbreviation]" value="<%= word.abbreviation %>">
					</div>
					<div class="form-group col-md-6">
					  <label for="screenshot1">Screenshot 1:</label>
					  <input id="screenshot1" class="form-control" type="text" name="word[screenshot1]" value="<%= word.screenshot1 %>">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
					  <label for="screenshot2">Screenshot 2:</label>
					  <input id="screenshot2" class="form-control" type="text" name="word[screenshot2]" value="<%= word.screenshot2 %>">
					</div>
					<div class="form-group col-md-6">
					  <label for="screenshot3">Screenshot 3:</label>
					  <input id="screenshot3" class="form-control" type="text" name="word[screenshot3]" value="<%= word.screenshot3 %>">
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-12">
						<label for="comment">Comment:</label>
						<textarea id="comment" rows="3" class="form-control" name="word[comment]"><%= word.comment %></textarea>
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg">Edit Word</button>
				</div>
			</form>
			<a href="/words">Go Back</a>
		</div>
	</div>

<%- include("../partials/footer") %>